<h2>Add a New Celebrity</h2>

<form method="post" action="/celebrities">
  <label for="celeb-name-input">Celeb Name: </label>
  <input id="celeb-name-input" type="text" name="celebName" placeholder="e.g. John Stamos" />
  <br />

  <label for="celeb-occupation-input">Occupation: </label>
  <input id="celeb-occupation-input" type="text" name="celebOccupation" placeholder="e.g. actor" />
  <br />
  <label for "catchphrase-input"> Catch Phrase: </label>
  <input id="catchphrase-input" type="text" name="celebCatchPhrase" placeholder="e.g. I love waffles" />
  <br />

  <button> Save This Celeb! </button>
</form>
